.material-order-detail-page .wrapper {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px 15px;
    border-radius: 4px;
    margin-bottom: 24px;
    background: white;
}
.material-order-detail-page .wrapper .custom-progress {
    margin: 10px 0;
    justify-content: space-between;
}
.material-order-detail-page .wrapper .custom-progress .ant-progress-outer {
    padding-right: 0;
}
.material-order-detail-page .wrapper .ant-table-container {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 4px;
    overflow: hidden;
}
.material-order-detail-page .wrapper .ant-table-container th.ant-table-cell {
    border-bottom: 1px solid #aeafb0;
}
.material-order-detail-page .wrapper .order-information-table {
    background-color: rgba(244, 246, 248, 1);
    padding: 15px;
}

.material-order-detail-page .wrapper .order-information-table .ant-row {
    margin-bottom: 10px;
}
