/* Styles for Sidemenu */

.sidemenu {
    position: fixed;
    height: 100%;
    width: 245px;
    display: flex;
    flex-direction: column;
    box-shadow: -1px 0px 0px 0px rgba(201, 214, 223, 0.4) inset;
    background-color: rgba(255, 255, 255, 1);
}

.sidemenu .sidemenu-header {
    display: flex;
    flex-direction: row-reverse;
    min-height: 47px;
    box-shadow: -1px 0px 0px 0px rgba(201, 214, 223, 0.4) inset;
}

.sidemenu .sidemenu-main {
    flex-grow: 1;
}

.sidemenu .sidemenu-main .sidemenu-vertical{
    margin-top: 30px;
}

.sidemenu .sidemenu-user .sidemenu-user-container {
    display: flex;
    gap: 6px;
    flex-direction: column;
}

.sidemenu .sidemenu-user .sidemenu-user-container span {
    margin: 0 auto;
    font-size: 14px;
    font-weight: 600;
}

.sidemenu .sidemenu-footer {
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Styles for Header */
.header {
    min-height: 47px;
    background-color: rgba(255, 255, 255, 1);
}

.header .notification {
    position: absolute;
    display: inline-block;
    right: 80px;
    top: 13px;
    font-size: 13px;
}

