.sidebar-menu {
	background-color: #212b36;
}

.sidebar-menu span {
	font-size: 14px;
	font-weight: 400;
	color: #fff;
}

.sidebar-menu span svg {
	color: #fff;
}

.sidebar-menu .ant-menu-submenu-active {
	background-color: rgba(34, 197, 94, 0.16);
}

.ant-menu-item,
.ant-menu-submenu-title {
	padding-left: 15px !important;
}

.ant-menu-item span {
	padding-left: 6px;
}

.ant-menu-submenu-title span {
	padding-left: 6px;
}

.ant-menu-item-only-child span {
	padding-left: 30px;
}

.ant-menu-item.ant-menu-item-active {
	background-color: rgba(34, 197, 94, 0.16);
}

.ant-menu-item.ant-menu-item-selected {
	background-color: rgba(0, 167, 111, 1);
}
